@import url('https://fonts.googleapis.com/css?family=Poppins:600,700,800,900&subset=latin-ext');

::-webkit-scrollbar { 
  display: none; 
}

* {
  #font-family: 'Poppins', sans-serif !important;
}

.masthead {
  background-size: cover;
  background-position: 50% 50%;
}

a.btn {
  padding-bottom: 10px;
}

.navbar-nav > .nav-item > a {
  margin-top: 15px;
}

.login.section {
  position: inherit !important;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #222;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
}
.loader-background {
  background: grey;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999 !important;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}